body{
    background-color: #ECC7AB;
    line-height: 1.2;
    text-decoration: none;
}

section{
    max-width: 960px;
    margin: 0 auto;
}

header{
    height: 156px;
    margin-bottom: 60px;
}
header h1{
    position: fixed;
    width: 36px;
    left: 30px;
    top:30px;    
}
header img{
    padding-bottom: 2px;
    vertical-align: middle;
}
header .eye{
    top: 30px;
    right: 30px;
   position: fixed;
    z-index: 3;
    color: #fff;
    text-align: center;
    font-size: 24px;
    text-decoration: none;
    z-index: 11;
}
.s1{
    display: block;
    position: relative;
}

.s1:hover img{
    transform: rotate(-6deg);
}
.s1:hover h2{
    transform: scale(1.1);
}
.s1 img{
    width: 430px;
    position: relative;
    transition: all 0.5s ease;
}

.s1 h2{
    font-size: 110px;
    color: #fff;
    width: 600px;
    position: absolute;
    top: 10%;
    right: 200px;
    transition: transform 0.5s ease;
}

.s1 .circle{
    background-color: #ffd363;
    left:-50px;
    width:100px;
    height:100px;
    border-radius: 50%;
    position: absolute;
    top:60px;
    z-index: 5;
}

.menu-open{
    font-size: 120px;
    background-color: #ffd363;
   position: fixed;
   right: 0;
   height: 100%;
   top:0;
   padding: 100px 60px 80px 120px;
   z-index: 6;
   transform: translateX(100%);
   transition: transform 0.5s ease;
}
.open{
    transform: translateX(0);
}
.menu-open a{
    text-decoration: none;
    color: #fff;
    display: block;
    margin-bottom: 10px;
    text-align: right;

}